body {
    font-family: 'Roboto', sans-serif;
    background-color: #050505;
    background-image: 
        radial-gradient(at 47% 33%, hsl(0.00, 49%, 32%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(359.29, 78%, 28.000000000000004%) 0, transparent 55%);
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin-top: 10px;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.description {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 40px;
    line-height: 1.5;
}

.experience-card {
    background-color: #1a1919;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px) saturate(77%);
    -webkit-backdrop-filter: blur(12px) saturate(77%);
    background-color: rgba(14, 10, 10, 0.69);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.experience-card:hover {
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
}

.experience-card h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.experience-card img {
    width: 100px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 50%;
}

.experience-card p {
    font-size: 1em;
    color: #ccc;
    text-align: center;
    line-height: 1.4;
}

.company-info {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.info-card {
    background-color: #1a1919;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.info-card i {
    margin-right: 10px;
    font-size: 1.5em;
}

.info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.info-card p {
    font-size: 1em;
    color: #ccc;
    margin: 0;
}


.info-card a {
    text-decoration: none; 
    color: inherit; 
}

.navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #007aff;
}

.navbar ul li a i {
    font-size: 1.8em;
}

.navbar ul li.active .icon-container {
    background-color: #007aff;
}

.navbar ul li .icon-container {
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
}

.navbar ul li:hover::after {
    content: attr(title);
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}
